@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #635fc7;
    --color-secondary: 99, 95, 199;
    --color-danger: #ea5555;
    --color-warn: #F4911E;
    --color-success: #6AE86A;
    --color-info: #00B8D4;
  }

  body {
    @apply bg-light font-bold leading-4 text-black;
  }

  h1 {
    @apply text-2xl;
  }

  h2 {
    @apply text-xl;
  }

  .heading-xl {
    @apply font-bold text-2xl leading-8;
  }

  .heading-lg {
    @apply font-bold text-lg leading-6;
  }

  .heading-sm {
    @apply font-bold text-xs leading-4 tracking-widest;
  }

  .heading-md {
    @apply font-bold text-base leading-5;
  }

  .body-text {
    @apply font-medium text-base leading-6;
  }

  .body-text-md {
    @apply font-bold text-sm leading-4;
  }

  .body-text-sm {
    @apply font-bold text-xs leading-4;
  }

  input {
    @apply body-text border rounded h-[40px] pt-[8px] pb-[8px] pl-[16px];
  }
}